#TaskList {
	> ul {
		overflow: visible;
	}

	.task-item {
		min-height: 65px;
		height: 65px;
		cursor: pointer;

		transition: background-color 0.25s ease;

		.status-icon {
			transition: 0.35s;
			margin-left: 15px;
			left: 0px;
			top: 10px;
		}

		.task-title {
			margin-top: 8px;
			font-size: 26px;
			height: 47px;
			width: 95%;
		}

		.action-bar {
			background-color: rgba(255,255,255,0.85);
			min-height: 65px;
			position: absolute;
			width: 0;
			left: 0;
			top: 0;

			transition: width 0.25s;

			&.action-bar-hover {
				width: 100%;

				> i {
					position: relative;
					opacity: 1;
					margin-left: 30px;
					&:first-of-type {
						margin-left: 100px;
					}
				}
			}

			> i {
				display: block;
				margin-left: 0px;
				opacity: 0;
			}
		}

		.secondary-content {
			top: 0px;
			right: 0px;
			width: 16px;
			padding-top: 22px;
			min-height: 65px;
		}
	}
}

#AddTaskModal {
	form {
		padding-left: 35px;
		label {
			width: 180px;
		}
	}
	hr {
		margin-bottom: 35px;
	}
}