#TaskList {
	.task-item {
		cursor: pointer;
		min-height: 65px;

		transition: background-color 0.25s ease;

		.task-title {
			font-size: 26px;
			margin-top: 8px;
			width: 95%;
			height: 25px;
		}
	}
}

#AddTaskModal {
	form {
		padding-left: 35px;
		label {
			width: 180px;
		}
	}
	hr {
		margin-bottom: 35px;
	}
}