template(name="FixedButtons")
	.fixed-action-btn(style="bottom: 45px; right: 24px")
		a#AddButton.btn.btn-floating.btn-large.waves-effect.waves-light.modal-trigger(href="#AddTaskModal")
			i.large.material-icons add
		//- ul
		//- 	li
		//- 		a.btn-floating.red
		//- 			i.material-icons insert_chart
		//- 	li
		//- 		a.btn-floating.yellow.darken-1
		//- 			i.material-icons format_quote
		//- 	li
		//- 		a.btn-floating.green
		//- 			i.material-icons format_quote
		//- 	li
		//- 		a.btn-floating.blue
		//- 			i.material-icons attach_file